*, body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Comfortaa', cursive;
}

*::-webkit-scrollbar {
    width: 7px;
    background: black;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(190, 190, 190, 0.5);
    border-radius: 5px;
}